@model EntityLayer.CUSTOMER

@{
    ViewBag.Title = "Editar Cliente";
}



<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid px-5 d-flex justify-content-between">
        <a class="navbar-brand" href="#">Editar cliente</a>
    </div>
</nav>
<div class="container-lg mx-auto ">
    
    <div class="container">
        @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal mt-3 mx-auto">
                    <h5>Formulario de edicion</h5>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.RNC_ID_NUMBER, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.RNC_ID_NUMBER, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.RNC_ID_NUMBER, "", new { @class = "text-danger" })
                                </div>
                            </div>                
                        </div>
                    </div>
                    <br>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.CUSTOMER_NAME, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.CUSTOMER_NAME, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CUSTOMER_NAME, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.PHONE_NUMBER, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.PHONE_NUMBER, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PHONE_NUMBER, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
            
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.EMAIL, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.EMAIL, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.EMAIL, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.CATEGORY, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("CATEGORY",new SelectList(new[] { "PREMIUM","REGULAR"}),"SELECCIONE CATEGORIA", new { htmlAttributes = new { @class = "form-control dropdown" } })
                                    @Html.ValidationMessageFor(model => model.CATEGORY, "", new { @class = "text-danger" })
                                </div>
                            </div>                    
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Guardar" class="btn btn-dark d-flex" />
                                    <div>
                                        @Html.ActionLink("Back to List", "Index")
                                    </div>

                                </div>
                            </div>
                        </div>                
                    </div>      
                </div>
            }    
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }


</body>
</html>
